---
layout: articles
titles:
  # @start locale config
  en      : &EN       LIFE
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  ko      : &KO       삶
  ko-KR   : *KO
  fr      : &FR       LIFE
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
articles:
  data_source: paginator.posts
  type: grid
---

<div class="layout--archive js-all">
  {%- include tags.html category='LIFE' -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='item' show_cover=false show_excerpt=true show_info=true reverse=true -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
